{% extends 'base.html' %}

{% block content %}
    <h1>Product Detail</h1>
    <h3>{{ object.title }}</h3>
    <p>{% if object.description %}{{ object.description }}{% else %}Description Comming Soon{% endif %}</p>
    <p>{{ object.price }}</p>
    <p>
        <a href="{% url 'products:product_list' %}">Back to Product List</a>
        <a href="{% url 'products:product_update' pk=object.pk %}">Update</a>
        <a href="{% url 'products:product_delete' pk=object.pk %}">Delete</a>
    </p>
{% endblock %}